// c:\xampp\htdocs\eTrasparenza4\codicepers\css>sass --watch stili.scss:stili.css
// FILE SORGENTE SASS
// TUTTE LE CLASSI QUI DENTRO VANNO IN OUTPUT SU stili.css
// stili.css VA INCLUSO NEL FILE index.php

$colore1: #222222;	// nero
$colore2: #FFFFFF;	// bianco
$colore3: #0c6596;	// blu
$colore4: #CCCCCC; 	// grigio
$colore5: #F7F7F7;	// grigio chiaro
$colore6: #178BFF;	// blu chiaro
$coloreLinkHover: 		#003366;
$coloreLinkVisited: 	#551A8B;
$coloreTestataFooter:	#303030;	// nero testata livello superiore ente
$coloreLinkFooter:  	#65DDE0;	// celeste chiaro per footer

$fontStack: 'Titillium Web', sans-serif !important;

@import "000__all.scss";