/*************************
*******Typography*********
**************************/
html {
  font-size: 10px; }

body {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  color: #222222;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 1.55555556; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  color: #222222; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5; }

h4 {
  font-size: 1.1em; }

p {
  padding: 0px 0px 10px 0px; }

textarea, input, checkbox, select {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif; }

a {
  color: #0066cc; }

a:hover, a:focus {
  color: #003366;
  text-decoration: underline; }

a:visited {
  color: #428FDB; }

.center {
  text-align: center;
  margin-bottom: 40px; }

.grassetto {
  font-weight: bold; }

.font-principale {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 0.9em; }

.labelClass {
  margin-right: 5px; }

.divieto {
  color: #1e1212;
  background-color: #ffcbcb;
  border: 1px solid #b50000; }

.divieto a {
  color: #1e1212; }

.avvisone,
.avvisino {
  color: #685815;
  background-color: #ffef9f;
  border: 1px solid #e5ce23; }

.avvisone a,
.avvisino a {
  color: #685815; }

.ok,
.richiesta,
.msgAvvisoOK {
  color: #006366;
  background-color: #c6f3f5;
  border: 1px solid #00c5ca; }

.ok a,
.richiesta a,
.msgAvvisoOK {
  color: #006366; }

.divieto,
.ok,
.richiesta,
.avvisino,
.avvisone {
  background-image: none; }

.container-navigazione,
.banner-navigazione,
.pan-condividi {
  display: none; }

.contenitoreMenuHome,
.contenitoreGareHome,
.container-home-3 {
  display: none; }

.titolo1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222222; }

.titolo1 a,
.titolo1 a:hover {
  color: #0066cc;
  text-decoration: none; }

.stileTitolo16,
.stileTitolo132 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-bottom: 4px solid #0066cc;
  color: #222222;
  line-height: 1.5; }

.stileTitolo16 a,
.stileTitolo132 a {
  color: #222222;
  text-decoration: none; }

.stileTitolo16 a:hover,
.stileTitolo132 a:hover {
  text-decoration: none; }

.stileTitolo16 p {
  margin: 0px;
  padding: 0px; }

.stileTitolo132 {
  margin: 0px 0px 16px 0px;
  padding: 8px 8px 8px 25px;
  font-weight: bold;
  text-transform: uppercase; }

.stileTitolo188 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-bottom: 2px solid #D5D6D8;
  color: #222222;
  line-height: 1.5; }

.stileTitolo188 a,
.stileTitolo188 a:hover {
  color: #222222;
  text-decoration: none; }

.titoloElenco {
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: #0066cc;
  font-size: 1.3em;
  font-weight: 600; }

.titolo2 {
  margin: 20px 0px 10px 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 2px solid #D5D6D8;
  color: #222222;
  font-size: 1.3em; }

.titolo3 {
  margin: 22px 0px 8px 0px;
  padding: 0px 0px 4px 0px;
  color: #222222;
  font-size: 1.1em; }

.titoloRichiamoModello {
  margin: 0px 0px 2px 0px;
  padding: 2px 0px 2px 25px;
  background: url(media/593_icona-documento.gif) left center no-repeat;
  color: #0066cc;
  text-transform: none;
  white-space: normal;
  line-height: 1.5; }

.esattamenteogg110,
.ricercaOrdineLimite {
  display: none; }

.testataPag,
.interfacciaPagine {
  margin: 28px 0px 20px 0px;
  border-top: 2px solid #D5D6D8;
  padding: 5px 5px 0px 5px;
  font-weight: bold;
  color: #222222;
  line-height: 1.5;
  clear: both;
  font-size: 0.9em; }

.testataPag a,
.interfacciaPagine a {
  display: inline-block;
  margin: 0px 3px 3px 3px;
  font-weight: normal;
  padding: 0px 5px;
  background-color: #F7F7F7;
  border: 1px solid #D5D6D8;
  color: #0066cc;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.testataPag a:hover,
.interfacciaPagine a:hover {
  background: #0066cc;
  color: #FFFFFF;
  border: 1px solid #D5D6D8; }

.vistaTabella {
  width: 100%;
  font-size: 0.8em; }

.vistaTabella caption {
  display: none; }

.vistaTabella th {
  background: #0066cc;
  color: #FFFFFF;
  padding: 8px 8px;
  text-transform: uppercase;
  font-weight: bold; }

.vistaTabella th a {
  color: #FFFFFF; }

.vistaTabella td {
  padding: 6px 4px; }

.dispari {
  /* background: $colore5 !important; */ }

.pari {
  background: #FFFFFF; }

.pulsanteIstanza {
  margin: 0px 3px;
  background: transparent;
  padding: 0px; }

.vistaTabella td ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 1.5; }

.contenutoCentrale {
  width: 100%;
  padding: 0px; }

.titoloContenutoModello {
  font-size: 1.3em;
  font-weight: bold;
  color: #0066cc;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 2px solid #D5D6D8; }

.titoloContenutoModello.ui-state-active,
.titoloContenutoModello.ui-state-default,
.titoloContenutoModello.ui-state-hover {
  border: 1px solid #D5D6D8;
  border-radius: 0px; }

.titoloContenutoModello.ui-state-default,
.titoloContenutoModello.ui-state-hover {
  background-color: #F7F7F7;
  background-image: none; }

.contenutoModello {
  margin-top: 0px;
  margin-bottom: 20px; }

.contenutoModello.ui-widget-content {
  border: 1px solid #D5D6D8; }

.contenitoreIstanza1 {
  margin: 0px 0px 20px 0px; }

.oggetto19 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-bottom: 1px solid #D5D6D8; }

.oggetto20 {
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 6px 5px;
  border-bottom: 1px solid #D5D6D8; }

.oggetto72 {
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 0px 5px; }

.oggetto177 {
  border-bottom: 1px solid #D5D6D8;
  margin: 0px 0px 6px 0px;
  padding: 0px 0px 2px 0px; }

.oggetto187 {
  margin: 0px 0px 20px 0px; }

.stileForm75 {
  padding: 3px 5px;
  border: 1px solid #D5D6D8;
  background-color: #FFFFFF;
  color: #222222;
  max-width: 350px; }

.stileForm73 {
  background-color: #0066cc;
  color: #FFFFFF;
  padding: 6px 12px;
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 10px;
  border: none;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.pannello157 {
  border: 1px solid #D5D6D8;
  background-color: #FFFFFF;
  color: #222222;
  margin: 0px 0px 20px 0px;
  padding: 6px; }

.review36 {
  margin-bottom: 20px; }

.review36 p {
  margin: 0px; }

.review44 {
  border-bottom: 1px dotted #D5D6D8;
  margin: 2px 0px 6px 0px;
  padding: 2px 0px 2px 16px;
  background: url(media/799_freccina_menu.gif) 3px 11px no-repeat; }

.review46 {
  border-top: 2px solid #D5D6D8;
  margin: 20px 0px 20px 0px;
  padding: 10px 5px 10px 20px;
  background: url(media/589_icona-freccia-rossa-indietro.gif) left no-repeat;
  font-weight: bold; }

.review46 a {
  text-decoration: none; }

.review46 a:hover {
  text-decoration: underline;
  color: #222222; }

.review177 {
  border-bottom: 1px solid #D5D6D8; }

.opendata {
  font-size: 0.9em;
  margin: 10px 0px;
  padding: 8px;
  border-left: 5px solid #D5D6D8;
  background-color: #F7F7F7; }

.classEditor159 {
  color: #222222; }

.classEditor159 a {
  color: #222222;
  text-decoration: underline; }

.classEditor102 {
  border-bottom: 2px solid #D5D6D8;
  color: #0066cc;
  font-size: 1.7em;
  line-height: 1.0;
  margin: 24px 0px 12px 0px;
  padding: 0px 0px 4px 0px; }

.classEditor159 {
  margin: 16px 0px 6px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 600;
  text-transform: uppercase; }

.classEditor159 a {
  color: #222222; }

.classEditor168 {
  border: 1px solid #D5D6D8;
  background-color: #F7F7F7;
  margin: 10px 0px 10px 0px;
  padding: 5px; }

.label_esattamenteogg0, #esattamenteogg {
  display: none; }

.campoOggetto24 {
  font-size: 2em;
  color: #0066cc;
  margin-bottom: 10px; }

.campoOggetto25 {
  font-weight: bold; }

.campoOggetto27 {
  float: left;
  margin: 0px 8px 6px 0px;
  padding: 0px;
  width: 120px;
  max-height: 120px;
  z-index: 3; }

.campoOggetto27 img {
  width: 100%; }

.campoOggetto48 {
  margin: 10px 20px 10px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/588_icona-download.gif) left center no-repeat;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

.campoOggetto67 {
  display: inline; }

.campoOggetto71 {
  margin: 0px 0px 10px 0px; }

.campoOggetto77 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/592_icona-email.gif) left center no-repeat; }

.campoOggetto78 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/591_icona-user.gif) left center no-repeat; }

.campoOggetto79 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/590_icona-freccia-a-destra.gif) left center no-repeat; }

.campoOggetto80 {
  margin: 15px 0px 15px 0px; }

.campoOggetto86 {
  margin: 30px 0px 8px 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid #D5D6D8;
  color: #222222;
  font-size: 1.3em; }

.campoOggetto100 {
  width: 100%;
  height: 220px !important;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border: 1px solid #D5D6D8;
  clear: both; }

.campoOggetto100 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.campoOggetto101 {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin: 0px 12px 8px 0px;
  padding: 0px;
  border: 1px solid #D5D6D8; }

.campoOggetto101 img {
  width: 100%;
  height: 100%; }

.campoOggetto126 {
  float: left;
  margin: 0px 8px 6px 0px;
  padding: 0px;
  width: 80px;
  max-height: 80px;
  z-index: 3; }

.campoOggetto126 img {
  width: 100%; }

.campoOggetto128 {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/587_icona-mondo.gif) left center no-repeat; }

.campoOggetto134 ul {
  list-style-type: none;
  padding: 0px;
  margin: 5px; }

.campoOggetto134 li {
  background-image: url(media/586_icona-freccia-rossa.gif);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px; }

.campoOggetto171 {
  color: #0066cc;
  font-size: 1.3em;
  font-weight: 600;
  margin: 5px 0px 5px 0px; }

.campoOggetto184 {
  font-weight: 600; }

.campoOggetto67 {
  font-weight: 600;
  display: inline; }

.campoOggetto171 a {
  text-decoration: none; }

.campoOggetto171 a:hover {
  text-decoration: underline; }

.contPannelloTitolo {
  border-bottom: 4px solid #0066cc;
  margin-top: 20px; }

.pannello30 h3.txtTitoloPagina {
  color: #0066cc;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -0.6pt;
  padding: 0px 0px 0px 0px; }

.pannello35 {
  font-size: 0.8em;
  background: transparent url("personalizzazioni/grafica/home-breadcrumbs.png") no-repeat 10px center;
  padding: 17px 15px 15px 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0066cc; }

.pannello35 a {
  text-decoration: none;
  color: #222222; }

.pannello35 a:hover {
  text-decoration: underline; }

.pannello186 {
  display: none; }

.pannello56 {
  margin: 0px 0px 20px 0px;
  padding: 0px; }

.pannello186 h3.stileTitolo0 {
  color: #FFFFFF;
  background-color: #0066cc;
  padding: 8px 20px 10px 20px;
  margin-bottom: 10px;
  font-size: 1.2em; }

.pannello186 ul {
  list-style: disc; }

.pannello186 ul li {
  display: list-item;
  margin-left: 40px; }

.pannello186 ul.elenchiMenu li a {
  display: block;
  color: #0066cc; }

.pannello186 ul.elenchiMenu li a,
.pannello186 .voce-menu-no-link {
  padding: 0px 0px 0px 0px; }

.pannello186 ul.elenchiMenu li a:hover {
  color: #003366;
  text-decoration: underline; }

.paragrafo18 {
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 20px; }

.formAccCiv {
  margin: 0px 0px 30px 0px; }

.titoloAccCiv {
  color: #0066cc;
  font-size: 130%;
  font-weight: normal;
  margin: 30px 0px 10px 0px;
  padding: 0px 7px 3px 7px;
  border-bottom: 2px solid #D5D6D8; }

.formAccCiv input[readonly='readonly'] {
  background-color: #F7F7F7; }

.formAccCiv input[type='text'],
.formAccCiv textarea {
  width: 95%;
  margin: 0px 10px;
  padding: 2px 3px;
  max-width: none; }

.formAccCiv .campoAccCiv {
  margin: 15px 0px; }

.formAccCiv label.error {
  color: #FF0000;
  margin: 0px 10px; }

.formAccCiv input.error,
.formAccCiv textarea.error {
  border-color: #b50000;
  border-width: 2px;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.campo-obbligatorio {
  border-width: 2px;
  border-style: solid; }

.notaAccCiv {
  margin: 10px 10px; }

.tipAccCiv {
  margin: 3px 10px;
  font-size: 90%; }

.btnToolContenuto a, .btnToolContenuto a:hover {
  display: block;
  background-color: #D5D6D8;
  color: #222222;
  text-decoration: none;
  padding: 16px 10px 16px 10px;
  font-size: 0.8em;
  font-weight: bold; }

.btnToolContenuto.col-md-6.col-sm-12 {
  padding: 0px 3px; }

input.pulsante {
  background-color: #0066cc;
  color: #FFFFFF;
  padding: 6px 12px;
  height: 24px;
  position: relative;
  display: inline-block;
  min-height: 24px;
  height: auto !important;
  height: 24px;
  margin: 10px 0px 0px 12px;
  border: none;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  white-space: normal;
  line-height: 1.5;
  cursor: pointer;
  vertical-align: top;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.colonna-dx {
  width: 100%;
  padding: 0px; }

/**************************************************/
/**************** responsive **********************/
/**************************************************/
@media (max-width: 424px) {
  .userloggedinfo {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 768px) and (max-width: 1300px) {
  .logoNomeHeaderContainer {
    margin-left: 50px; } }
@media (max-width: 1023px) {
  #adminTrasp .logo,
  .userinfo {
    display: none; }

  .contenitoreMotoreHeader {
    width: 220px; }

  .contenitoreMotoreHeader input.search-form {
    width: 179px; }

  .nomeHeader,
  body.onscroll .nomeHeader {
    font-size: 1.4em; }

  .sottosito-header {
    font-size: 0.8em; }

  #block-mit-search .form-search {
    width: 79%; }

  .block-system-breadcrumb-block {
    padding-right: 40px; } }
@media (max-width: 767px) {
  .logoNomeHeaderContainer {
    margin: 3px 0px 0px 50px; }

  body.onscroll .logoNomeHeaderContainer {
    margin: 3px 0px 15px 35px; }

  #header .search {
    display: none; }

  .contenitoreMotoreHeader {
    width: 100%; }

  .contenitoreMotoreHeader input.search-form {
    width: 100%; }

  .ico-search {
    position: absolute;
    top: 0;
    right: 0; }

  .btnSearchMobile {
    display: block; }

  .ico-search-mobile {
    position: absolute;
    top: 10px;
    right: 10px; }

  .ui-autocomplete {
    max-width: 280px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden; }

  .nomeHeader {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 30px; }

  .mediaLogo {
    margin: 5px 10px 0px 0px;
    width: 40px;
    height: 40px; }

  body.onscroll .mediaLogo {
    margin: 5px 6px 0px 0px;
    width: 40px;
    height: 40px; }

  .main {
    top: 60px;
    left: 16px; }

  .main-logged {
    top: 115px; }

  .social {
    text-align: left;
    margin: 0px 0px 10px 0px; }

  .navbar-toggle::after,
  .btnSocial,
  .sottosito-header {
    display: none; }

  .label_strcerca_ogg,
  .campoOggetto71 label {
    display: block;
    margin: 0px; }

  #strcerca_ogg {
    margin-bottom: 10px; }

  #strcerca_ogg,
  #cerca input[type="text"],
  #cerca select,
  .campoOggetto71 input[type="text"],
  .campoOggetto71 select {
    width: 90%;
    display: block;
    max-width: none; }

  .contenutoModello img {
    max-width: 100% !important;
    height: auto !important; } }
@media (min-width: 768px) {
  .contenutoModello img {
    max-width: 600px !important;
    height: auto !important; } }
@media (min-width: 992px) {
  .colonna-dx {
    padding-right: 0px; } }

/*# sourceMappingURL=000__accessocivico.css.map */
