/*************************
*******Typography*********
**************************/
html {
  font-size: 18px; }

body {
  font-family: "Titillium Web", sans-serif !important;
  color: #222222;
  background-color: #FFFFFF;
  line-height: 1.5;
  padding-bottom: 0px !important;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Titillium Web", sans-serif !important;
  color: #222222; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5; }

h4 {
  font-size: 1.1em; }

p {
  padding: 0px 0px 10px 0px;
  word-wrap: break-word; }

textarea, input, checkbox, select {
  font-family: "Titillium Web", sans-serif !important; }

a {
  color: #0c6596;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms; }

a:hover, a:focus {
  color: #222222;
  text-decoration: underline; }

a:hover {
  color: #003366; }

a:visited {
  color: #551A8B; }

.center {
  text-align: center;
  margin-bottom: 40px; }

.grassetto {
  font-weight: bold; }

.font-principale {
  font-family: "Titillium Web", sans-serif !important;
  font-size: 0.9em; }

.labelClass {
  margin-right: 5px; }

#header {
  position: relative; }

body.onscroll #header {
  position: fixed !important;
  border-bottom: 1px solid #CCCCCC !important;
  z-index: 999999;
  top: 0;
  width: 100%;
  opacity: 1;
  padding: 0; }

.onscroll #header {
  left: 0; }

.containerTestata1LG {
  background-color: #303030;
  color: #FFFFFF;
  position: relative; }

.containerTestata1LG .livSup {
  margin: 12px 0px 12px 15px;
  font-weight: bold;
  font-size: 0.9em; }

#votaSondaggio [type="radio"].stileForm {
  margin-right: 10px; }

.boxAccesso {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  background-color: #0c6596;
  font-size: 0.8em;
  color: #FFFFFF;
  font-weight: bold;
  padding: 13px 20px; }

.boxAccesso a {
  text-decoration: none; }

.boxAccesso-logged {
  /* top: 60px; */ }

.containerTestata1LG a,
.containerTestata1LG a:hover {
  color: #FFFFFF; }

.containerTestata2LG {
  background-color: #0c6596;
  color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC; }

.logoNomeHeaderContainer {
  margin: 40px 0px 40px 0px; }

body.onscroll .logoNomeHeaderContainer {
  margin: 0px 0px 0px 20px; }

.mediaLogo {
  margin: 0px 32px 0px 0px;
  float: left;
  width: 76px;
  height: 76px;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }

body.onscroll .mediaLogo {
  margin: 4px 16px 6px 0px;
  width: 50px;
  height: 50px; }

.mediaLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.mediaLogoFooter {
  margin: 0px 15px 0px 0px;
  float: left;
  width: 55px;
  height: 55px;
  overflow: hidden; }

.mediaLogoFooter img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.nomeHeader {
  margin: 0px 0px 0px 0px;
  padding-left: 108px;
  font-size: 32px;
  font-weight: 700; }

body.onscroll .nomeHeader {
  padding-top: 10px;
  padding-left: 66px;
  font-size: 1.6em; }

.nomeHeader a {
  color: #FFFFFF; }

.sottosito-header {
  padding-left: 108px;
  color: #FFFFFF;
  font-style: italic; }

.social {
  text-align: right;
  margin: 40px 0px 10px 0px;
  font-size: 0.9em; }

body.onscroll .social {
  margin: 0px 0px 0px 0px; }

body.onscroll .btnSocial {
  display: none; }

.divieto {
  color: #1e1212;
  background-color: #ffcbcb;
  border: 1px solid #b50000; }

.divieto a {
  color: #1e1212; }

.avvisone,
.avvisino {
  color: #685815;
  background-color: #ffef9f;
  border: 1px solid #e5ce23; }

.avvisone a,
.avvisino a {
  color: #685815; }

.ok,
.richiesta,
.msgAvvisoOK {
  color: #006366;
  background-color: #c6f3f5;
  border: 1px solid #00c5ca; }

.ok a,
.richiesta a,
.msgAvvisoOK {
  color: #006366; }

.divieto,
.ok,
.richiesta,
.avvisino,
.avvisone {
  background-image: none; }

.etiSocial {
  margin-right: 15px;
  font-weight: 600; }

.social-share {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0; }

.social-share-footer {
  margin: 18px 0px;
  font-size: 0.9em; }

ul.social-share li {
  display: inline-block;
  margin-right: 2px; }

ul.social-share li a {
  display: inline-block;
  color: #0c6596;
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px; }

ul.social-share-footer li a {
  color: #303030;
  background-color: #65DDE0;
  margin-right: 6px; }

#header .search {
  display: block;
  margin-top: 15px; }

.btnSearchMobile {
  display: none; }

body.onscroll #header .search {
  margin-top: 9px;
  margin-bottom: 6px; }

input.search-form {
  background-color: #FFFFFF;
  border: none;
  width: 300px;
  padding: 10px;
  font-size: 14px;
  color: #222222 !important; }

.ico-search,
.ico-search-mobile {
  font-size: 1.2em;
  margin-left: -4px;
  color: #0c6596;
  background-color: #CCCCCC;
  display: inline-block;
  width: 40px;
  height: 41px;
  line-height: 39px;
  text-align: center; }

.titoloTipRicerca,
.ui-state-focus-titolo {
  font-size: 1.4em;
  color: #0c6596;
  border: 1px solid #FFFFFF;
  border-top: 1px solid #D2D2D2;
  margin: 0 !important; }

.contenitoreMotoreHeader {
  /* border: 2px solid $colore6; */
  display: inline-block;
  position: relative; }

.icona-banner {
  font-size: 1.5em;
  display: block;
  float: left;
  margin: 10px 0px 0px 5px; }

.aBannerHome {
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #0c6596;
  color: #FFFFFF;
  display: block;
  padding: 10px;
  margin: 10px 0px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms; }

.aBannerHome:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #222222; }

.aBannerHome:visited {
  color: #FFFFFF; }

.bannerTitolo {
  display: block;
  font-weight: bold;
  padding-left: 40px; }

.bannerDesc {
  font-size: 0.8em;
  padding-left: 40px;
  display: block; }

.pannelloBannerEnte41 {
  text-align: center;
  margin: 20px 0px; }

.contenitoreBtnSondaggio {
  background-color: #0c6596;
  font-size: 1.3em;
  padding: 15px 0px 14px 0px;
  text-align: center; }

.contenitoreBtnSondaggio, .contenitoreBtnSondaggio a, .contenitoreBtnSondaggio a:hover {
  color: #FFFFFF; }

.contenitoreFooter {
  background-color: #303030;
  color: #FFFFFF; }

.contenitoreFooter a {
  color: #65DDE0; }

.nomeFooter, .nomeFooter a {
  color: #FFFFFF;
  font-size: 1.3em; }

.footer1 {
  padding-left: 70px; }

.titoloRecapitiFooter {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid #CCCCCC;
  padding: 8px 0px; }

.inRecapitiFooter {
  font-size: 0.9em;
  padding: 10px 0px; }

.btnFooter {
  border-top: 1px solid #CCCCCC;
  padding: 10px 15px;
  font-size: 0.9em; }

#copyFooter {
  padding: 30px 0px;
  text-align: center;
  font-size: 0.9em; }

#footEtrasp {
  margin: 8px 0px; }

.logo_lg_it {
  margin-top: 10px; }

#dataAggiornamento {
  margin: 20px 0px 20px 0px;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  background-color: #F7F7F7;
  padding: 15px 20px; }

#dataAggiornamento:before {
  font: normal normal normal 16px/1 FontAwesome;
  content: '\f073';
  padding-right: 8px; }

#datiNoPubblicazione {
  margin: 20px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #F7F7F7;
  padding: 20px 20px; }

#datiNoPubblicazione:before {
  font: normal normal normal 16px/1 FontAwesome;
  content: '\f129';
  padding-right: 8px; }

/* General styles for all menus */
.cbp-spmenu {
  background: #FFFFFF;
  border-right: 2px solid #CCCCCC;
  position: fixed; }

.cbp-spmenu h3 {
  color: #FFFFFF;
  font-size: 1.4em;
  padding: 8px 20px 8px 20px;
  margin: 0;
  font-weight: 600;
  background: #0c6596;
  border-bottom: 2px solid #CCCCCC; }

.cbp-spmenu a {
  display: block;
  color: #FFFFFF;
  font-weight: 300; }

.cbp-spmenu a:hover {
  background: none; }

.cbp-spmenu a:active {
  background: #0c6596;
  color: #FFFFFF; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 9999999;
  overflow-y: scroll; }

.cbp-spmenu-vertical a {
  border-bottom: 2px solid #F7F7F7;
  padding: 1em; }

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden; }

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left; }

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 2px solid #F7F7F7; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -300px; }

.cbp-spmenu-right {
  right: -300px; }

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px; }

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px; }

.cbp-spmenu-bottom {
  bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px; }

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 300px; }

.cbp-spmenu-push-toleft {
  left: -300px; }

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 0.8em;
    height: 110px; }

  .cbp-spmenu-top {
    top: -110px; }

  .cbp-spmenu-bottom {
    bottom: -110px; } }
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 0.9em;
    width: 190px; }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px; }

  .cbp-spmenu-right {
    right: -190px; }

  .cbp-spmenu-push-toright {
    left: 190px; } }
.navbar-toggle .icon-bar {
  background-color: #222222;
  width: 35px;
  height: 3px; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #F7F7F7; }

.main {
  position: absolute;
  top: 110px;
  left: 3%;
  z-index: 999;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }

.main-logged {
  top: 110px; }

body.onscroll .main {
  top: 10px;
  left: 0%; }

.main > section button {
  border: none;
  background: none;
  color: #FFFFFF !important;
  display: block;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  font-size: 1.2em; }

.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
  width: 33px;
  height: 3px; }

.navbar-toggle::after {
  position: absolute;
  content: "MENU";
  top: 27px;
  left: 0;
  font-size: 12px;
  color: #FFFFFF;
  padding-left: 10px; }

body.onscroll .navbar-toggle::after {
  display: none; }

#closeMenu {
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: #FFFFFF; }

.cbp-spmenu .nav, .cbp-spmenu .nav ul, .cbp-spmenu .nav li {
  list-style: none; }

.cbp-spmenu .nav ul {
  padding: 0;
  margin: 0 0 0 0;
  background: #F7F7F7; }

.cbp-spmenu .nav {
  padding: 0px;
  margin: 0px; }

.cbp-spmenu .nav > li {
  margin: 0px 0px; }

.cbp-spmenu .nav > li li {
  margin: 0px 0; }

.cbp-spmenu .nav a {
  color: #222222;
  display: block;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none; }

.cbp-spmenu .nav li > a > span {
  float: right;
  font-size: 1em;
  font-weight: bolder; }

.cbp-spmenu .nav li > a:hover > span {
  color: #222222; }

.cbp-spmenu .nav li > a > span:after {
  font: normal normal normal 22px/1 FontAwesome;
  content: '\f107'; }

.cbp-spmenu .nav li.open > a > span:after {
  font: normal normal normal 22px/1 FontAwesome;
  content: '\f106'; }

.cbp-spmenu .nav a:hover {
  color: #222222;
  background: #F7F7F7; }

.cbp-spmenu .nav li.active > a {
  background-color: #222222;
  color: #FFFFFF; }

.cbp-spmenu .nav li.active.open > a {
  color: #222222;
  background-color: #F7F7F7; }

.cbp-spmenu .nav > li.active > a {
  background-color: #F7F7F7;
  color: #222222; }

.cbp-spmenu .nav li a {
  font-size: 0.9em;
  line-height: 18px;
  padding: 10px 18px; }

.cbp-spmenu .nav > li > a {
  font-size: 0.9em;
  line-height: 18px;
  padding: 18px 15px 14px 18px; }

.contenitoreBreadcrumbs {
  background-color: #F7F7F7; }

.contenitoreTestoHome {
  font-size: 1em;
  background-image: url("personalizzazioni/grafica/sfondo-testo-home.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 0px; }

.contenitoreTestoHome .contenitoreTestoHome1 {
  max-width: 75ch; }

.contenitoreMenuHome,
.contenitoreGareHome {
  background-color: #F7F7F7; }

.contMenuHome,
.bannerHome,
.contenitoreFooter {
  padding: 30px 0px; }

ul.menuHome {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.menuHomeMenu {
  margin-bottom: 10px;
  padding: 0px 0px !important;
  font-size: 0.9em; }

.oggetto38,
.oggetto76 {
  margin: 0px 0px 20px 0px; }

.paragrafoEnte {
  margin: 0px 0px 20px 0px; }

.titolo1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #0c6596; }

.sondaggio {
  margin-bottom: 20px; }

.titoloDomanda {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #0c6596; }

.percentualeRisposta {
  display: block;
  margin: 5px 0px 25px 0px;
  background-color: #222222;
  text-align: right;
  color: #FFFFFF;
  font-weight: bold; }

.percentualeRispostaCompilazioni {
  padding: 5px 10px;
  white-space: nowrap; }

.categoriaAllegato {
  font-weight: bold; }

.titolo1 a,
.titolo1 a:hover {
  color: #0c6596;
  text-decoration: none; }

.titolo-menu-home {
  border-bottom: 2px solid #CCCCCC; }

.stileTitolo16,
.stileTitolo132 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-bottom: 4px solid #0c6596;
  color: #222222;
  line-height: 1.5; }

.stileTitolo16 a,
.stileTitolo132 a {
  color: #222222;
  text-decoration: none; }

.stileTitolo16 a:hover,
.stileTitolo132 a:hover {
  text-decoration: none; }

.stileTitolo16 p {
  margin: 0px;
  padding: 0px; }

.stileTitolo132 {
  margin: 0px 0px 16px 0px;
  padding: 8px 8px 8px 25px;
  font-weight: bold;
  text-transform: uppercase; }

.stileTitolo188 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  padding-right: 120px;
  border-bottom: 2px solid #CCCCCC;
  color: #222222;
  line-height: 1.5; }

.stileTitolo188 a,
.stileTitolo188 a:hover {
  color: #222222;
  text-decoration: none; }

.titoloElenco {
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: #0c6596;
  font-size: 1.3em;
  font-weight: 600; }

.titolo2 {
  margin: 20px 0px 10px 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 2px solid #CCCCCC;
  color: #222222;
  font-size: 1.3em; }

.titolo3 {
  margin: 22px 0px 8px 0px;
  padding: 0px 0px 4px 0px;
  color: #222222;
  font-size: 1.1em; }

.titoloRichiamoModello {
  margin: 0px 0px 2px 0px;
  padding: 2px 0px 2px 25px;
  background: url(media/593_icona-documento.gif) left center no-repeat;
  color: #0c6596;
  text-transform: none;
  white-space: normal;
  line-height: 1.5; }

.titMenuHome {
  text-transform: uppercase;
  margin: 0px 0px 12px 0px; }

.menuHomeMenu a {
  color: #222222; }

.icona-archivio {
  padding: 8px 8px 8px 32px;
  background: #0c6596 url("app/grafica/icone/archivio.png") no-repeat 8px center; }

.icona-personale {
  padding: 8px 8px 8px 32px;
  background: #0c6596 url("app/grafica/icone/personale.png") no-repeat 8px center; }

.icona-attivita {
  padding: 8px 8px 8px 32px;
  background: #0c6596 url("app/grafica/icone/libri.png") no-repeat 8px center; }

.icona-cartella {
  padding: 8px 8px 8px 32px;
  background: #0c6596 url("app/grafica/icone/cartella.png") no-repeat 8px center; }

.icona-documenti {
  padding: 8px 8px 8px 32px;
  background: #0c6596 url("app/grafica/icone/documenti.png") no-repeat 8px center; }

#menuCanali ul li a {
  float: left;
  margin: 0px;
  padding: 20px 26px 18px 26px !important;
  border-right: 1px solid #CCCCCC !important;
  text-decoration: none;
  color: #222222; }

#menuCanali ul li a:hover {
  background: #0c6596 !important;
  color: #FFFFFF !important; }

#boxRicerca {
  border-left: 1px solid #CCCCCC !important;
  border-right: 1px solid #CCCCCC !important; }

.esattamenteogg110,
.ricercaOrdineLimite {
  display: none; }

.testataPag,
.interfacciaPagine {
  margin: 28px 0px 20px 0px;
  border-top: 2px solid #CCCCCC;
  padding: 5px 5px 0px 5px;
  font-weight: bold;
  color: #222222;
  line-height: 1.5;
  clear: both;
  font-size: 0.9em; }

.testataPag a,
.interfacciaPagine a {
  display: inline-block;
  margin: 0px 3px 3px 3px;
  font-weight: normal;
  padding: 0px 5px;
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  color: #0c6596;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.testataPag a:hover,
.interfacciaPagine a:hover {
  background: #0c6596;
  color: #FFFFFF;
  border: 1px solid #CCCCCC; }

#table_bandi_norma {
  width: 100%;
  overflow-x: scroll; }

.contenutoModello table,
#reviewOggetto table,
.vistaTabella {
  width: 100%;
  font-size: 0.8em; }

.contenutoModello table caption,
#reviewOggetto table caption,
.vistaTabella caption {
  display: none; }

.contenutoModello table th,
#reviewOggetto table th,
.vistaTabella th {
  background: #0c6596;
  color: #FFFFFF;
  padding: 8px 8px;
  text-transform: uppercase;
  font-weight: bold; }

.contenutoModello table th a,
#reviewOggetto table th a,
.vistaTabella th a {
  color: #FFFFFF; }

.contenutoModello table td,
#reviewOggetto table td,
.vistaTabella td {
  padding: 6px 4px; }

.dispari {
  /* background: $colore5 !important; */ }

.pari {
  background: #FFFFFF; }

.pulsanteIstanza {
  margin: 0px 3px;
  background: transparent;
  padding: 0px; }

.contenutoModello table td ul,
#reviewOggetto table td ul,
.vistaTabella td ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 1.5; }

.contenutoCentrale {
  padding-top: 30px;
  padding-bottom: 30px; }

.titoloContenutoModello {
  font-size: 1.3em;
  color: #0c6596;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 2px solid #CCCCCC; }

.titoloContenutoModello.ui-state-active,
.titoloContenutoModello.ui-state-default,
.titoloContenutoModello.ui-state-hover {
  border: 1px solid #CCCCCC;
  border-radius: 0px; }

.titoloContenutoModello.ui-state-default,
.titoloContenutoModello.ui-state-hover {
  background-color: #F7F7F7;
  background-image: none; }

.contenutoModello {
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 0px; }

.contenutoModello.ui-widget-content {
  border: 1px solid #CCCCCC; }

.contenitoreIstanza1 {
  margin: 0px 0px 20px 0px; }

.oggetto19 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-bottom: 1px solid #CCCCCC; }

.oggetto20 {
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 6px 5px;
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFFFFF; }

.oggetto72 {
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 0px 5px; }

.oggetto177 {
  border-bottom: 1px solid #CCCCCC;
  margin: 0px 0px 6px 0px;
  padding: 0px 0px 2px 0px; }

.oggetto187 {
  background-color: #F7F7F7;
  margin: 0px 0px 20px 0px;
  padding: 15px; }

input[type="text"].stileForm,
input[type="password"].stileForm,
#strcerca_ogg,
.stileForm75 {
  padding: 3px 5px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  color: #222222;
  max-width: 350px;
  white-space: nowrap; }

input[type="submit"].stileForm,
input[type="reset"].stileForm,
input.pulsante,
.stileForm73 {
  background-color: #0c6596;
  color: #FFFFFF;
  padding: 6px 12px;
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 10px;
  border: none;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #CCCCCC;
  text-transform: lowercase;
  font-weight: 700;
  font-variant: small-caps;
  vertical-align: middle; }

.titoloOrganigramma {
  margin: 0px 0px 2px 0px;
  padding: 2px 0px 2px 20px;
  background: url(media/590_icona-freccia-a-destra.gif) left no-repeat;
  color: #0c6596;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: none;
  white-space: normal;
  line-height: 1.5; }

.orgUffici {
  margin: 8px 0px 8px 20px;
  padding: 3px 0px 1px 6px;
  border-left: 5px solid #CCCCCC; }

.fotoReferente {
  width: 120px;
  float: left;
  margin: 0px 10px 10px 0px; }

.pannello157 {
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  color: #222222;
  margin: 0px 0px 20px 0px;
  padding: 6px; }

.review36 {
  margin-bottom: 20px; }

.review36 p {
  margin: 0px; }

.review44 {
  border-bottom: 1px dotted #CCCCCC;
  margin: 2px 0px 6px 0px;
  padding: 2px 0px 2px 16px;
  background: url(media/799_freccina_menu.gif) 3px 11px no-repeat; }

.review46 {
  border-top: 2px solid #CCCCCC;
  margin: 20px 0px 20px 0px;
  padding: 10px 5px 10px 20px;
  background: url(media/589_icona-freccia-rossa-indietro.gif) left no-repeat;
  font-weight: bold; }

.review46 a {
  text-decoration: none; }

.review46 a:hover {
  text-decoration: underline;
  color: #222222; }

.review177 {
  border-bottom: 1px solid #CCCCCC; }

.opendata {
  font-size: 0.9em;
  margin: 10px 0px;
  padding: 8px;
  border-left: 5px solid #CCCCCC;
  background-color: #F7F7F7; }

.classEditor159 {
  color: #222222; }

.classEditor159 a {
  color: #222222;
  text-decoration: underline; }

.classEditor102 {
  border-bottom: 2px solid #CCCCCC;
  color: #0c6596;
  font-size: 1.7em;
  line-height: 1.0;
  margin: 24px 0px 12px 0px;
  padding: 0px 0px 4px 0px; }

.classEditor159 {
  margin: 16px 0px 6px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 600;
  text-transform: uppercase; }

.classEditor159 a {
  color: #222222; }

.classEditor168 {
  border: 1px solid #CCCCCC;
  background-color: #F7F7F7;
  margin: 10px 0px 10px 0px;
  padding: 5px; }

.label_esattamenteogg0, #esattamenteogg {
  display: none; }

.campoOggetto24 {
  font-size: 2em;
  color: #0c6596;
  margin-bottom: 10px; }

h3.campoOggetto24 {
  /* font-size: 1.0em; */
  font-weight: 400;
  line-height: 1.5; }

.campoOggetto25 {
  font-weight: bold; }

.campoOggetto27 {
  float: left;
  margin: 0px 8px 6px 0px;
  padding: 0px;
  width: 120px;
  max-height: 120px;
  z-index: 3; }

.campoOggetto27 img {
  width: 100%; }

.campoOggetto48 {
  margin: 10px 20px 10px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/588_icona-download.gif) left center no-repeat;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

.campoOggetto67 {
  display: inline; }

.campoOggetto71 {
  margin: 0px 0px 10px 0px; }

.campoOggetto77 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/592_icona-email.gif) left center no-repeat; }

.campoOggetto78 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/591_icona-user.gif) left center no-repeat; }

.campoOggetto79 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/590_icona-freccia-a-destra.gif) left center no-repeat; }

.campoOggetto80 {
  margin: 15px 0px 15px 0px; }

.campoOggetto80 h3 {
  font-size: 100%;
  font-weight: 300; }

.campoOggetto86 {
  margin: 30px 0px 8px 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid #CCCCCC;
  color: #222222;
  font-size: 1.3em; }

.campoOggetto100 {
  width: 100%;
  height: 220px !important;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border: 1px solid #CCCCCC;
  clear: both; }

.campoOggetto100 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.campoOggetto101 {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin: 0px 12px 8px 0px;
  padding: 0px;
  border: 1px solid #CCCCCC; }

.campoOggetto101 img {
  width: 100%;
  height: 100%; }

.campoOggetto126 {
  float: left;
  margin: 0px 8px 6px 0px;
  padding: 0px;
  width: 80px;
  max-height: 80px;
  z-index: 3;
  overflow: hidden; }

.campoOggetto126 img {
  width: 100%; }

.campoOggetto128 {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 25px;
  background: url(media/587_icona-mondo.gif) left center no-repeat; }

.campoOggetto134 ul {
  list-style-type: none;
  padding: 0px;
  margin: 5px; }

.campoOggetto134 li {
  background-image: url(media/586_icona-freccia-rossa.gif);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px; }

.campoOggetto171 {
  color: #0c6596;
  font-size: 1.3em;
  font-weight: 600;
  margin: 5px 0px 5px 0px; }

.campoOggetto184 {
  font-weight: 600; }

.campoOggetto67 {
  font-weight: 600;
  display: inline; }

.campoOggetto171 a {
  text-decoration: none; }

.campoOggetto171 a:hover {
  text-decoration: underline; }

.contPannelloTitolo {
  border-bottom: 4px solid #0c6596;
  margin-top: 20px; }

.pannello30 h3.txtTitoloPagina {
  color: #0c6596;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -0.6pt;
  padding: 0px 0px 0px 0px; }

.pannello35 {
  font-size: 0.8em;
  background: transparent url("personalizzazioni/grafica/home-breadcrumbs.png") no-repeat 10px center;
  padding: 17px 15px 15px 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0c6596; }

.pannello35 a {
  text-decoration: none;
  color: #222222; }

.pannello35 a:hover {
  text-decoration: underline; }

.pannello186 {
  margin-bottom: 20px; }

.pannello56 {
  margin: 0px 0px 20px 0px;
  padding: 0px; }

.pannello186 h3.stileTitolo0 {
  color: #FFFFFF;
  background-color: #0c6596;
  padding: 12px 20px 14px 20px; }

.pannello186 h3.stileTitolo0:before {
  font: normal normal normal 26px/1 FontAwesome;
  content: '\f0c9';
  padding-right: 20px; }

.pannello186 ul.elenchiMenu li a {
  display: block;
  color: #222222;
  background-color: #F7F7F7;
  display: block; }

.pannello186 ul.elenchiMenu li a,
.pannello186 .voce-menu-no-link {
  padding: 15px 30px 15px 25px;
  border-bottom: 3px solid #FFFFFF; }

.pannello186 ul.elenchiMenu li .inner_review a:hover {
  background-color: #FFFFFF; }

.pannello186 ul.elenchiMenu li a:hover {
  color: #222222;
  text-decoration: none; }

.pannello186 ul.elenchiMenu li .inner_review:before {
  font: normal normal normal 26px/1 FontAwesome;
  content: '\f105';
  float: right;
  margin-top: 15px;
  margin-right: 15px; }

.paragrafo18 {
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 20px; }

.btnToolContenuto a, .btnToolContenuto a:hover {
  display: block;
  background-color: #CCCCCC;
  color: #222222;
  text-decoration: none;
  padding: 16px 10px 16px 10px;
  font-size: 0.8em;
  font-weight: bold; }

.btnToolContenuto.col-md-6.col-sm-12 {
  padding: 0px 3px; }

.botRifNorm {
  margin: 0px 0px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000; }

.botRifNorm a#popNorma {
  display: block;
  padding: 12px 10px 9px 10px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #0c6596;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-bottom: 1px solid #FFFFFF; }

.botRifNorm a#popNorma:hover {
  display: block;
  background: #222222; }

.popover {
  font-family: "Titillium Web", sans-serif !important; }

.popover-title {
  font-weight: bold;
  font-size: 0.9em; }

.popover-close {
  float: right; }

/*
input.pulsante {
    background-color: $colore3;
    color: $colore2;
    padding: 6px 12px;
    height: 24px;
    position: relative;
    display: inline-block;
    min-height: 24px;
    height: auto !important;
    height: 24px;
    margin: 10px 0px 0px 12px;
    border: none;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    white-space: normal;
    line-height: 1.5;
    cursor: pointer;
    vertical-align: top;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 16px;
  padding-left: 16px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.formAccCiv {
  margin: 0px 0px 30px 0px; }

.titoloAccCiv {
  color: #0c6596;
  font-size: 130%;
  font-weight: normal;
  margin: 30px 0px 10px 0px;
  padding: 0px 7px 3px 7px;
  border-bottom: 2px solid #CCCCCC; }

.formAccCiv input[readonly='readonly'] {
  background-color: #F7F7F7; }

.formAccCiv input[type='text'],
.formAccCiv textarea {
  width: 90%;
  margin: 0px 10px;
  padding: 2px 3px;
  max-width: none; }

.formAccCiv .campoAccCiv {
  margin: 15px 0px; }

.formAccCiv label.error {
  color: #FF0000;
  margin: 0px 10px; }

.formAccCiv input.error,
.formAccCiv textarea.error {
  border-color: #b50000;
  border-width: 2px;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.campo-obbligatorio {
  border-width: 2px;
  border-style: solid; }

.notaAccCiv {
  margin: 10px 10px; }

.tipAccCiv {
  margin: 3px 10px;
  font-size: 90%; }

.contenitoreInfoOggettoPubblicato {
  margin: 20px 0px;
  border: 1px solid #CCCCCC;
  background-color: #F7F7F7;
  padding: 10px; }

.contenitoreInfoOggettoPubblicato:before {
  font: normal normal normal 16px/1 FontAwesome;
  content: '\f05a';
  padding: 0px 10px; }

.contenitoreAccessoCivico {
  margin: 20px 0px;
  border: 1px solid #CCCCCC;
  background-color: #F7F7F7;
  padding: 20px 20px 20px 20px; }

.elementoInRevisione {
  color: #685815;
  background-color: #ffef9f;
  border: 1px solid #e5ce23;
  margin: 10px;
  padding: 10px; }

.openRicercaOggettoX {
  background-color: #F7F7F7;
  margin: 0px 0px 0px 0px;
  padding: 15px;
  position: relative; }

.closeRicercaOggettoX {
  position: absolute;
  right: 15px;
  z-index: 500; }

.showRicercaOggettoX {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  font-size: 0.8em;
  font-weight: bold;
  margin: 10px 0px; }

.filtri-ricerca {
  margin-bottom: 20px; }

span.btnFiltroRic,
a.btnFiltroRic {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px 7px;
  border: 1px solid #D2D2D2;
  color: #000000;
  font-size: 0.9em; }

span.btnFiltroRic {
  border-color: #C2C2C2;
  background-color: #D2D2D2;
  color: #000000; }

a.btnFiltroRic {
  text-decoration: none; }

a.btnFiltroRic:hover {
  background-color: #EAEAEA; }

.istanzaRicerca {
  margin-bottom: 15px; }

.canali-mobile {
  background-color: #0c6596;
  color: #FFFFFF;
  position: relative;
  height: 48px;
  clear: both;
  width: 100%; }

.btn-canali-mobile {
  width: 150px;
  line-height: 48px;
  background: #222222;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 0px; }

.btn-canali-mobile .fa {
  margin-right: 10px; }

.btn-canali-mobile:hover {
  cursor: pointer; }

.cont-canali-mobile {
  top: 48px;
  position: absolute;
  background: #FFFFFF;
  padding: 10px;
  z-index: 1001;
  right: 0;
  display: inline-grid;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 3px 1px rgba(50, 50, 50, 0.1); }

.canale-navigazione {
  font-size: 0.8em;
  padding: 12px 10px 10px 10px;
  display: inline-block; }

.istanza-canale-mobile {
  margin: 8px 5px;
  display: inline-block; }

.istanza-canale-mobile .fa {
  display: inline-block;
  font-size: 0.9em;
  width: 33px;
  line-height: 26px;
  padding: 2px;
  text-align: center;
  background: #FFFFFF;
  color: #0c6596;
  border-radius: 100%;
  border: 1px solid #0c6596; }

.istanza-canale-mobile-active {
  margin: 8px 5px;
  display: inline-block;
  font-weight: 600; }

.istanza-canale-mobile-active a {
  color: #213563; }

.istanza-canale-mobile-active .fa {
  display: inline-block;
  font-size: 0.9em;
  width: 33px;
  line-height: 26px;
  padding: 2px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 100%;
  color: #0c6596;
  border: 1px solid #0c6596; }

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .canali-mobile-text {
    display: none; }

  .btn-canali-mobile {
    width: 48px; }

  .btn-canali-mobile .fa {
    margin: 0px; } }
/* xs */
@media (max-width: 767px) {
  .canali-mobile-text {
    display: none; }

  .btn-canali-mobile {
    width: 48px; }

  .btn-canali-mobile .fa {
    margin: 0px; } }
/**************************************************/
/**************** responsive **********************/
/**************************************************/
@media (max-width: 424px) {
  .userloggedinfo {
    padding-right: 0;
    padding-left: 0; }

  .menuHomeMenu {
    margin-right: 15px; } }
@media (max-width: 500px) {
  .pannelloBannerEnte41 img {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1300px) {
  .logoNomeHeaderContainer {
    margin-left: 50px; } }
@media (max-width: 1023px) {
  #adminTrasp .logo,
  .userinfo {
    display: none; }

  .contenitoreMotoreHeader {
    width: 220px; }

  .contenitoreMotoreHeader input.search-form {
    width: 179px; }

  .nomeHeader,
  body.onscroll .nomeHeader {
    font-size: 1.4em; }

  .sottosito-header {
    font-size: 0.8em; } }
@media (max-width: 767px) {
  html, body {
    font-size: 16px; }

  .logoNomeHeaderContainer {
    margin: 3px 0px 0px 50px; }

  body.onscroll .logoNomeHeaderContainer {
    margin: 3px 0px 15px 35px; }

  #header .search {
    display: none; }

  .contenitoreMotoreHeader {
    width: 100%; }

  .contenitoreMotoreHeader input.search-form {
    width: 100%; }

  .ico-search {
    position: absolute;
    top: 0;
    right: 0; }

  .btnSearchMobile {
    display: block; }

  .ico-search-mobile {
    position: absolute;
    top: 10px;
    right: 10px; }

  .ui-autocomplete {
    max-width: 280px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden; }

  .nomeHeader {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 30px; }

  .mediaLogo {
    margin: 5px 10px 0px 0px;
    width: 40px;
    height: 40px; }

  body.onscroll .mediaLogo {
    margin: 5px 6px 0px 0px;
    width: 40px;
    height: 40px; }

  .main {
    top: 12px;
    left: 10px; }

  .main-logged {
    top: 115px; }

  .social {
    text-align: left;
    margin: 0px 0px 10px 0px; }

  .navbar-toggle::after,
  .btnSocial,
  .sottosito-header {
    display: none; }

  .label_strcerca_ogg,
  .campoOggetto71 label {
    display: block;
    margin: 0px; }

  #strcerca_ogg {
    margin-bottom: 10px; }

  #strcerca_ogg,
  #cerca input[type="text"],
  #cerca select,
  .campoOggetto71 input[type="text"],
  .campoOggetto71 select {
    width: 90%;
    display: block;
    max-width: none; }

  .contenutoModello img {
    max-width: 100% !important;
    height: auto !important; }

  .menuHomeMenu {
    font-size: 1em; } }
@media (min-width: 768px) {
  .contenutoModello img {
    max-width: 600px !important;
    height: auto !important; }

  .menuHomeMenu {
    font-size: 0.9em; } }
@media (min-width: 992px) {
  .colonna-dx {
    padding-right: 0px; } }

/*# sourceMappingURL=000__stili.css.map */
