/**
 * Nome applicativo: PAT
 * Licenza di utilizzo: GNU Affero General Public License» versione 3 e successive: https://spdx.org/licenses/AGPL-3.0-or-later.html
 * -- CUSTOM CSS --
 */

:root {
    --colore1original: #8E2558;
    --colore2original: #681c41;
    --colore1: #007a52;
    --colore2: #00402b;
}
a {
    color: var(--colore1);
}

.dataTables_processing {
    background-color: #fff;
    color: var(--colore1);
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    border:1px solid #f4f4f4;
    border-radius: 8px;
    font-weight: 700;
}

a:hover {
    color: var(--colore2);
    text-decoration: underline;
}

p > a {
    text-decoration: underline;
}

.dropdown-item {
    white-space: unset !important;
}

._black {
    color: black !important;
}

._flex {
    display: flex;
}

.attach-image {
    height: 80px !important;
    width: auto;
}

.form-group {
    margin-bottom: 2rem !important;
}

.lst-normal {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bg-table-accessibility {
    background-color: var(--colore1);
    color: #ffffff;
}

.heading-form-title {
    text-transform: uppercase;
    font-size: 1.1rem !important;
    font-weight: 500;
    color: #757575;
    border-bottom: 1px solid #d4d0d0;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.toast-body ul {
    margin: 0 !important;
    padding: 0rem 1rem !important;
}

.navbar-nav {
    align-items: center;
}

/* CSS per l'alberatura delle pagine generiche */
.jstree-anchor {
    /*enable wrapping*/
    white-space: normal !important;
    /*ensure lower nodes move down*/
    height: auto !important;
    /*offset icon width*/
    padding-right: 24px !important;
}

/* End CSS per alberatura pagine generiche */

/* Begin CSS per gli elementi selezionati nelle select2 multiple */
.select2-container--default .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

li.select2-selection__choice {
    max-width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis; //usare per tagliare il testo...*/
    white-space: normal;
}

ul.select2-selection__rendered {
    padding-right: 1px !important;
}

/* End CSS per gli elementi selezionati nelle select2 multiple */

.grow-change-institutions {
    position: absolute;
    display: none;
    top: 27%;
    left: 0.2rem;
    z-index: 1;
    width: .8rem;
    height: .8rem;
}

#spinner-grow-sm-restore,
#spinner-grow-sm-adminstator-current {
    display: none;
}

/* Begin css logo loader */
#loading-container {
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: 666999;
    position: fixed;
    padding-top: 20%;
    color: white;
}

#loading-l {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading-l img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

/* End css logo loader */

#layer_current_section {
    display: none;
}

#section_tree {
    display: none;
}

.drop-down-current-section {
    margin: 0.5rem 0rem;
    background: #4e555b !important;
    text-align: center !important;
    color: #fff !important;
    padding: 0.3rem 0rem !important;
    font-weight: 500;
}

.badge-info {
    font-size: 14px;
}

.badge-success {
    font-size: 14px;
}

.badge-danger {
    font-size: 14px;
}

.badge-primary {
    font-size: 14px;
    background-color: var(--colore1);
}

/*Select Name */
.select_name {
    position: relative;
    display: none;
}

.select_name:before,
.select_name:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 19px;
    border: 11px solid transparent;
    border-bottom-color: #CED4D4;
}

.select_name:after {
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #CED4D4;
}

.select_name ul {
    overflow-y: auto;
    height: 300px;
    list-style: none;
    margin: 0;
    margin: 1rem 0rem 0rem 0rem;
    padding: .3rem;
    border: .1rem solid #CED4D4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.select_name span {
    font-weight: 500;
}

.select_name ul li {
    border-bottom: .1rem solid #CED4D4;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.select_name ul li:last-of-type {
    border: none !important;
}

#list_last_insert_files {
    display: none;
}

.cursor-auto {
    cursor: auto;
}

.cursor-default {
    cursor: default;
}

.cursor-none {
    cursor: none;
}

.cursor-context-menu {
    cursor: context-menu;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-wait {
    cursor: wait;
}

.cursor-cell {
    cursor: cell;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-text {
    cursor: text;
}

.cursor-vertical-text {
    cursor: vertical-text;
}

.cursor-alias {
    cursor: alias;
}

.cursor-copy {
    cursor: copy;
}

.cursor-move {
    cursor: move;
}

.cursor-no-drop {
    cursor: no-drop;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-all-scroll {
    cursor: all-scroll;
}

.cursor-col-resize {
    cursor: col-resize;
}

.cursor-row-resize {
    cursor: row-resize;
}

.cursor-n-resize {
    cursor: n-resize;
}

.cursor-e-resize {
    cursor: e-resize;
}

.cursor-s-resize {
    cursor: s-resize;
}

.cursor-w-resize {
    cursor: w-resize;
}

.cursor-ns-resize {
    cursor: ns-resize;
}

.cursor-ew-resize {
    cursor: ew-resize;
}

.cursor-ne-resize {
    cursor: ne-resize;
}

.cursor-nw-resize {
    cursor: nw-resize;
}

.cursor-se-resize {
    cursor: se-resize;
}

.cursor-sw-resize {
    cursor: sw-resize;
}

.cursor-nesw-resize {
    cursor: nesw-resize;
}

.cursor-nwse-resize {
    cursor: nwse-resize;
}

.inner-name-attach,
.input-data-attach {
    width: 100%;
}

.inner-name-attach,
.inner-omissis-attach,
.inner-hidden-attach {
    border-bottom: 1px dotted #000000 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner-name-attach:hover {
    cursor: pointer;
}

.no-border {
    border: none !important;
}

.ui-sortable-handle > td {
    vertical-align: unset !important;
    padding-left: .3rem;
    padding-right: .3rem;
}

/* Begin css per il confronto del versioning */
.difference {
    background: #f5d0d6;
    padding: .2rem;
}

.current-difference {
    background-color: #43e0a9;
    padding: .2rem;
}

.padding-content {
    padding: 0 .2rem 0 .8rem;
}

.padding-content-ul {
    padding: 0 .2rem 0 1.6rem;
}

.ui-sortable-handle .tt {
    cursor: grab;
}

table.table-attach {
    width: 100%;
    table-layout: fixed;
}

/* End css per il confronto del versioning */

.display-hidden {
    display: none;
}

#error_custom_link ul,
#success_custom_link ul {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

#error_custom_link li:before,
#error_custom_link li:before {
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}

.blank {
    color: #FFFFFF;
}

.header-profile {
    font-size: .778rem;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-treeview {
    background: rgba(255, 255, 255, .1);
    border-radius: .5rem;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: #06c;
}

.login-logo img {
    width: 60%;
    margin-bottom: 0.9rem;
}

.btn-view-password {
    background-color: #cecece;
    color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: var(--colore1);
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: var(--colore1);
}

.page-item.active .page-link {
    background-color: var(--colore1);
    border-color: var(--colore1);
}

.page-link {
    color: var(--colore1);
}

.page-link:hover {
    color: var(--colore1);
}

.btn-outline-primary {
    color: var(--colore1);
    border-color: var(--colore1);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--colore1);
    border-color: var(--colore1);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--colore1);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color:var(--colore1);
    border-color: var(--colore1);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled:hover {
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--colore1);
}

.main-header {
    background: var(--colore1);
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.brand-link {
    background: var(--colore1);
}

.brand-link img {
    filter: brightness(0) invert(1);
}

.btn-primary {
    background-color: var(--colore1);
    border-color: var(--colore1);
}

.btn-primary:hover {
    background-color: var(--colore2);
    border-color: var(--colore1);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--colore2);
    border-color: var(--colore2);
}

.table .btn-primary {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

.table .btn-primary:hover {
    background-color: #eee;
}

.table .btn-danger {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

.table .btn-danger:hover {
    background-color: #eee;
}

.table .btn-success {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

.table .btn-success:hover {
    background-color: #eee;
}

.table .badge {
    padding: 0;
    font-weight: 600;
}

.table .badge-primary {
    background-color: transparent;
    color: #000;
    font-weight: 500;
}

.table .badge-success {
    background-color: transparent;
    color: #000;
    font-weight: 500;
}

.table .badge-info {
    background-color: transparent;
    color: #000;
    font-weight: 500;
}

.table .badge-danger {
    padding: .2rem;
}

.table .badge-warning {
    padding: .2rem;
}

.table .badge-success {
    padding: .2rem;
}

#start_generic_page .btn-primary {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

#start_generic_page .btn-primary:hover {
    background-color: #eee;
}

#start_generic_page .btn-danger {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

#start_generic_page .btn-danger:hover {
    background-color: #eee;
}

#form_institution .btn-primary {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

#form_institution .btn-primary:hover {
    background-color: #eee;
}

#form_institution .btn-danger {
    background-color: #fff;
    color: #4F4F4F;
    border-color: #cecece;
}

#form_institution .btn-danger:hover {
    background-color: #eee;
}

.text-primary {
    color: #208738 !important;
}

.badge-success {
    background-color: #208738;
}

.badge-danger {
    color: #fff;
    background-color: #D93444;
}

.select2-blue .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-blue .select2-selection--multiple .select2-selection__choice {
    background-color: var(--colore1) !important;
    border-color: var(--colore1) !important;
}

.select2-blue .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-blue .select2-container--default .select2-results__option--highlighted[aria-selected]:hover, .select2-container--default .select2-blue .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-blue .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--colore1) !important;
}

.testo_risultato {
    color: var(--colore1)
}

.numero-risultato {
    font-size: 1rem;
    background: var(--colore1);
    position:absolute;
    top:50%;
    right:.5rem;
    transform:translateY(-50%);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: var(--colore1);
    border-color: var(--colore1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--colore1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--colore1);
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: var(--colore1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--colore1);
}

.form-control:focus {
    border-color: var(--colore1);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--colore1);
    border: 1px solid var(--colore1);
}

.custom-file-label::after {
    content: "Sfoglia";
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: var(--colore1);
    border-color: var(--colore1);
    box-shadow: 0 0 0 0 var(--colore1);
}

.normative-tooltip {
    color: var(--colore1);
    text-decoration: none;
}

.normative-tooltip:hover {
    text-decoration: underline;
}

.popover {
    max-width: 700px;
}

#ajax_pagination table tfoot td {
    color: #fff;
    background-color: #212529;
    border-color: #383f45;
}

.patos_ajax_table_data_selected {
    display: inline-block;
    margin: 0.1rem 0.1rem;
    position: relative;
    background-color: var(--colore1);
    color: #fff;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    border-radius: .3rem;
    padding: .2rem 1.2rem .2rem .5rem;
}

.patos_ajax_show_hide_table {
    display: inline-block;
    margin: auto .5rem;
}

.patos_ajax_table_data_selected a {
    position: absolute;
    color: #ffffff;
    display: inline-block;
    margin: 0rem 0.3rem;
    font-weight: 900;
    font-size: 101%;
    right: 1px;
}

.patos_ajax_table_data_selected a:hover {
    color: #b28e9f;
}

.list-group-item {
    word-break: break-word;
    border-top: 0;
}

.select-box {
    padding: 2rem 1rem 1rem 1rem;
    border: 1px solid #ced4da;
    position: relative;
    margin: 1.75rem 0 1rem;
    border-radius: 8px;
}

.select-box:not(.select-box-highlight):not(.select-box-more) .select-box-title {
    position: absolute;
    font-size: .875rem;
    padding: 0 1.389rem;
    background: #fff;
    top: -0.78em;
}

.select-box .select-box-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    margin-right: 2.222rem;
    letter-spacing: .06rem;
    color: #212529;
}

.login-card-body .input-group .form-control:focus~.input-group-append .input-group-text, .login-card-body .input-group
.form-control:focus~.input-group-prepend .input-group-text, .register-card-body .input-group .form-control:focus~.input-group-append
input-group-text, .register-card-body .input-group .form-control:focus~.input-group-prepend .input-group-text {
    border-color: var(--colore1);
}

.dropdown-azioni .btn {
    padding: 0.1rem 0.5rem;
}

.dropdown-azioni .dropdown-toggle::after {
    margin-left: 0;
}
.dropdown-azioni .dropdown-menu {
    min-width:unset;
}
.dropdown-azioni .dropdown-item {
    display:inline;
    width:auto;
}

._layer_spinner_notify {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}

._spinner_notify {
    display: none;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    left: calc(50vw - 25px);
    top: calc(50vh - 20px);
    z-index: 999999;
}

._spinner_notify > div {
    z-index: 999;
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

._spinner_notify h5 {
    color: #fff;
    position: relative;
    left: -50%;
}

._spinner_notify .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

._spinner_notify .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

._spinner_notify .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

._spinner_notify .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.z99999999{
    z-index: 999999999999999 !important;
}



/* RESPONSIVE */
@media (max-width:1396px) {
    .dropdown-btn-desktop {
        display: none;
    }
    .btn-toolbar {
        display:block;
    }
}
@media (min-width:1396px) {
    .dropdown-btn-mobile {
        display: none;
    }
}

.custom-file-input {
    cursor: pointer;
}

.custom-separator {
    background: var(--colore1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 16px;
}

.custom-separator h5 {
    font-weight: 500;
    color: #fff;
    font-size: 1.4rem;
    margin:0;
}

.custom-separator.white {
    background:#fff;
    border: 1px solid #ced4da;
}
.custom-separator.white h5 {
    color:#000;
}

.attach-number {
    font-size:84%;
    border-radius: 50%;
    background-color: var(--colore1);
    color: #fff;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.modal-header-patos {
    background-color: #343a40;
    color: #FFFFFF;
}

.succes-toast {
    z-index: 1;
}

.jstree-default .jstree-clicked {
    background: var(--colore1) !important;
    color: #fff !important;
}

.jstree-default .jstree-hovered {
    background: #eee !important;
    color: #000 !important;
}

.modal-backdrop {
    display: none !important;
}

#spinner {
    display: flex;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.zoom-in {
    transform: scale(0) !important;
    opacity: 0;
    -webkit-transition: .25s all 0s;
    -moz-transition: .25s all 0s;
    -ms-transition: .25s all 0s;
    -o-transition: .25s all 0s;
    transition: .25s all 0s;
    display: block !important;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1) !important;
    transform: none;
}


.alert-info {
    color: #000;
    background-color: #d2f0ff;
    border-color: #148ea1;
}

.alert-info-warning {
    color: #646464;
    background-color: #f6d8d8;
    border-color: var(--colore1);
}

.alert-info-warning {
    color: #646464;
}

.alert-info-warning h5{
    color: var(--colore1);
}

.alert-info-warning a{
    color: var(--colore1);
    text-decoration: none;
}

.alert-info-warning a:hover{
    text-decoration: underline;
}