AddType text/css .css
AddDefaultCharset iso-8859-1 
RewriteEngine On
#CheckSpelling On

DirectoryIndex ./index.php?id_sezione=0
RewriteRule ^home-accessocivico ./index.php?id_sezione=770
RewriteRule ^staff ./index.php?azione=accesso
RewriteRule ^adminurp ./admin_info.php?menu=urp
RewriteRule ^urpadmin ./admin_info.php?menu=urp
RewriteRule ^adminchat ./moduli/chat
RewriteRule ^chatadmin ./moduli/chat
RewriteRule ^funzione_([^_]+).html ./index.php?azione=$1 
RewriteRule ^tag([^_]+)_([^_]+).html ./index.php?azione=cercatag&id_tag=$1&nome=$2 
RewriteRule ^tag([^_]+)_([^_]+)_([^_]+).html ./index.php?azione=cercatag&id_tag=$1&nome=$2&tipotag=$3 
RewriteRule ^pagina([^_]+)_([^_]+).html ./index.php?id_sezione=$1&nome=$2 
RewriteRule ^pagina([^_]+)_tg-([^_]+)_([^_]+).html ./index.php?id_sezione=$1&__tag_gare=$2&nome=$3&gtp=1&cerca_oggetto=11
RewriteRule ^pagina([^_]+)_tc-([^_]+)_([^_]+).html ./index.php?id_sezione=$1&__tag_concorsi=$2&nome=$3&gtp=1&cerca_oggetto=22
RewriteRule ^pagina([^_]+)_tp-([^_]+)_([^_]+).html ./index.php?id_sezione=$1&__tag_provvedimenti=$2&nome=$3&gtp=1&cerca_oggetto=28
RewriteRule ^pagina([^_]+)_([^_]+)_cat([^_]+)_([^_]+)_([^_]+)_ord([^_]+)-([^-]+).html ./index.php?id_sezione=$1&nome=$2&id_cat=$3&inizio=$4&limite=$5&ordine=$6&senso=$7 
RewriteRule ^archivio([0-9]+)_([^_]+)_([^_]+)_([^_]+)_([^_]+)_([^_]+).html ./index.php?id_oggetto=$1&nome=$2&id_cat=$3&id_doc=$4&id_sez_ori=$5&template_ori=$6
RewriteRule ^archivio([0-9]+)_([^_]+)_([^_]+)_([^_]+)_([^_]+).html ./index.php?id_oggetto=$1&nome=$2&id_cat=$3&id_doc=$4&id_sez_ori=$5
RewriteRule ^archivio([0-9]+)_([^_]+)_([^_]+)_([^_]+).html ./index.php?id_oggetto=$1&nome=$2&id_cat=$3&id_doc=$4 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^.*$ ./index.php?id_sezione=-404 
RewriteRule ^rest ./appRest.php
RewriteRule ^search.json/([a-zA-Z0-9]*)/([\s\S]*)$ ./appSearch.php?token=$1&term=$2

RewriteRule ^purecontent([^_]+).html ./index.php?id_sezione=920&purecontent=1&purecontentID=$1

RewriteRule ^contenuto([^_]+)_([^_]+)_([^_]+).html ./index.php?id_sezione=$3&nome=$2&id=$1&doc=pagina
#RewriteRule ^contenuto([^_]+)_([^_]+)_([^_]+)_([^_]+).html ./index.php?id_sezione=$3&nome=$2&id=$1&doc=pagina&id_riferimento=$4



####################################################
################ 	RICERCA		####################
####################################################
RewriteRule ^ricerca([^_]+)-pagina([^_]+)_([^_]+)_([^_]+).html$ ./index.php?gtp=1&cerca_oggetto=$1&id_sezione=$2&inizio=$3&limite=$4&$5 [L,QSA,NC]

RewriteRule ^adm_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([0-9]*).html$ ./admin_etrasparenza.php?menu=$1&menusec=$2&azione=$3&id=$4
RewriteRule ^adm_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([0-9]*)_([a-zA-Z0-9_]*).html$ ./admin_etrasparenza.php?menu=$1&menusec=$2&azione=$3&id=$4&tipo=$5
RewriteRule ^adm_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([a-zA-Z0-9]*)_([0-9]*)_([a-zA-Z0-9_]*)_([a-zA-Z0-9_]*).html$ ./admin_etrasparenza.php?menu=$1&menusec=$2&azione=$3&id=$4&tipo=$5&sottotipo=$6
RewriteRule ^adm_pagina_([0-9]*).html$ ./admin_etrasparenza.php?menu=contenuti&menusec=editpagina&azione=editpagina&id=$1



####################################################
########### 	PERSONALIZZAZIONI		############
####################################################